<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Riduce errori NU1301 su verifica firma repository in alcuni ambienti -->
    <add key="signatureValidationMode" value="Accept" />
  </config>
  <packageSources>
	<clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Local" value="D:\_Vs2\VkSoft.Community.IdentityServer\nuget" />
  </packageSources>
</configuration>